// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}


//  google fonts
//  - Montserrat
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


html {
	font-family: 'Montserrat', sans-serif;
	font-size: 62.5%;
}



/*  content  */


@primary-color: #E5F5FF;
@secondary-color: #80ceff;

@primary-complementary-color: #ffefe5;
@secondary-complementary-color: #ff808f;


.container {
	width: 1200px;
	margin: 0 auto;

	@media (max-width: 1700px) {
		width: 1000px;
	}
	@media (max-width: 1250px) {
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;
	}
}

.transition (@time: 250ms, @property: all, @function: ease) {
	-webkit-transition: @property @time @function;
	   -moz-transition: @property @time @function;
	     -o-transition: @property @time @function;
	        transition: @property @time @function;
}

.slide-up (@bgcolor: #f7f7f7) {
	position: absolute;
	content: '';
	top: 100%;
	left: 0;
	width: 100%;
	height: 0%;
	z-index: -1;
	background-color: @bgcolor;
}
.slide-up--hover {
	top: 0%;
	height: 100%;
}


section {
	margin: 50px 0;

	h2 {
		font-size: 2.4rem;
	}
}


.btn {
	display: inline-block;
	position: relative;
	padding: 12px 30px;
	margin: 10px 0;
	overflow: hidden;
	border-radius: 4px;
	text-decoration: none;
	background-color: @primary-color;
	color: #333;
	.transition();

	&:hover {
		background-color: transparent;
	}

	&::before {
		.slide-up(@primary-complementary-color);
		.transition();
	}
	&:hover::before {
		.slide-up--hover();
	}

	.large {
		padding: 20px 60px;
	} // large
} // btn



//  header  //

header {
	display: flex;
	justify-content: flex-end;

	nav {
		display: flex;
		margin-top: 20px;

		@media (max-width: 500px) {
			width: 100%;
			flex-direction: column;
		}

		a {
			color: #444;
			font-size: 1.5rem;
			position: relative;
			margin: 0 5px;
			padding: 4px 20px;
			text-decoration: none;
			.transition();

			&::before {
				.slide-up(@primary-color);
				.transition();
			}
			&:hover::before {
				.slide-up--hover();
			}
		} // a
	} // nav
} // header



//  about  //

section#about {
	margin-top: 40px;

	hr {
		margin: 30px 0;
		border: 1px solid #ededed;
	}

	.intro {
		display: flex;
		align-items: center;
		justify-content: center;

		@media (max-width: 800px) {
			flex-direction: column;
		}

		img {
			width: 270px;
			border-radius: 100%;

			@media (max-width: 800px) {
				margin-bottom: 30px;
			}
		}

		.intro-title {
			margin-left: 50px;

			@media (max-width: 800px) {
				margin-left: 0px;
			}
		}

		h1 {
			color: #444;
			font-size: 4rem;

			@media (max-width: 800px) {
				font-size: 3rem;
			}
		}

		h2 {
			font-size: 2.5rem;
			margin-top: 5px;
			opacity: .2;

			@media (max-width: 800px) {
				font-size: 2rem;
			}
		} // h2
	} // intro

	p {
		text-align: justify;
		font-size: 1.8rem;
		line-height: 1.2em;
		padding: 0 10%;
	} // p

	a.btn {
		font-size: 2rem;
		margin: 28px auto;
	} // a
} // section



//  skills  //

section#skills {

	.skills-container {
		margin: 40px 0;
		display: flex;
		align-items: stretch;
		justify-content: flex-start;

		@media (max-width: 800px) {
			flex-direction: column;
			align-items: center;
		}

		.skill-box {
			position: relative;
			flex-grow: 1;
			height: 200px;
			margin: 20px;
			cursor: default;
			background-color: #fafafa;
			display: flex;
			flex-flow: column;
			justify-content: center;
			align-items: center;
			.transition();
			-webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0, .25);
				 -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0, .25);
					-ms-box-shadow: 0px 2px 4px 0px rgba(0,0,0, .25);
							box-shadow: 0px 2px 4px 0px rgba(0,0,0, .25);

			&:hover {
				background-color: transparent;
				-webkit-box-shadow: 0px 3px 20px 0px rgba(0,0,0, .25);
					 -moz-box-shadow: 0px 3px 20px 0px rgba(0,0,0, .25);
						-ms-box-shadow: 0px 3px 20px 0px rgba(0,0,0, .25);
								box-shadow: 0px 3px 20px 0px rgba(0,0,0, .25);

				.icon {
					color: #ff808f;
				}
			}

			&::before {
				.slide-up (@primary-complementary-color);
				.transition();
			}
			&:hover::before {
				.slide-up--hover;
			}

			.icon {
				display: block;
				font-size: 5rem;
				color: #80ceff;
				.transition();
			}

			h3 {
				font-size: 1.5rem;
				margin-top: 20px;
			}

			@media (max-width: 800px) {
				width: 88%;
			}
			@media (max-width: 500px) {
				width: 100%;
				margin: 5px;
			}
		} // box
	} // skill container
} // section



//  contact  //

section#contact {

	.contact-container {
		margin: 20px;
		display: flex;
		align-items: center;
		justify-content: center;

		@media (max-width: 800px) {
			flex-flow: column;

			div {
				margin-bottom: 20px;
			}
		}

		div:first-of-type {
			margin-right: 80px;

			@media (max-width: 800px) {
				margin-right: 0px;
			}
		}

		a {
			color: #333;
		  font-size: 2rem;
			text-decoration: none;
		}

		i {
			font-size: 3rem;
			margin-right: 10px;
		}
	}
}



//  footer  //

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;
	margin-top: 50px;
	background-color: #f5f5f5;

	p {
		font-size: 1.2rem;
	}
}
